### Node ###
node_modules/
frontend/dist/
frontend/.env.local

### Java ###
backend/target/
*.class
*.jar
*.war

### IDE ###
.idea/
.vscode/
*.iml
*.ipr
*.iws

### OS ###
.DS_Store
Thumbs.db

### Docker ###
.env
